<section id="header">
    <div class="header container-fluid">
        <div class="nav-bar">
            <div class="nav-list">
                <div class="hamburger">
                    <div class="bar"></div>
                </div>
                <ul>
                    <li><a href="#cover" data-after="Home">Home</a></li>
                    <li><a href="#about" data-after="Service">About</a></li>
                    <li><a href="#projects" data-after="Projects">Projects</a></li>
                    <li><a href="#awards" data-after="About">Awards</a></li>
                    <li><a href="#contact" data-after="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>