<section id="footer">
    <div class="footer container">
        <div class="social-icon">
            <div class="social-item">
                <a href="{{ social_media.facebook }}" target="_blank"><img src="" /></a>
            </div>
            <div class="social-item">
                <a href="{{ social_media.instagram }}" target="_blank"><img src="" /></a>
            </div>
            <div class="social-item">
                <a href="{{ social_media.github }}" target="_blank"><img src="" /></a>
            </div>
            <div class="social-item">
                <a href="{{ social_media.linkedin }}" target="_blank"><img src="" /></a>
            </div>
        </div>
        <p><span>&#169;</span> 2020 Jafet's Projects.</p>
    </div>
</section>